---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit:     80
AccessModifierOffset: 0
# Force pointers to the type for C++.
DerivePointerAlignment: false
AlwaysBreakTemplateDeclarations: true
PointerAlignment: Left
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Stroustrup
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 120
---
Language: Proto
# Don't format .proto files.
DisableFormat: true

