---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit:     80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializersBeforeComma: true
AlwaysBreakTemplateDeclarations: true
AlignTrailingComments: true
IndentCaseLabels: false
AccessModifierOffset: -4
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 120
---
Language: Proto
# Don't format .proto files.
DisableFormat: true

