# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/*.o
build/*.d
build/primer

# Precompiled Headers
*.gch
*.pch
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.seed
*.pid
*.gz
*.md.html
*.iml

.settings
.idea
.project
.cproject



